body {
    margin-top: 3rem;
}

.form-container {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30rem;
	background-color: #fff;
	position: relative;
	    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	top: 50%;
	left: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.row {
    width: 400px;
}

.form-container .row {
	margin-bottom: 0;
}

.waves-light.btn.submitbtn {
    font-size: 1.4em;
    width: 22.3rem;
    margin-left: 1.2rem;
    background-color: #ff6900;
}

#closepopupbutton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -18px; 
    right: -15px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.row:nth-child(2) {
  margin-top: 15px;
}

.z-navicat-header_svgLogo {
    margin-left: 17rem;
    margin-top: 2rem;
}

.container {
    margin-top: 30rem;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}

.row .col {
    padding: 0;
}

#backgroundimg {
    width: 100%;
}

#gdpr-text {
    color: #000;
    margin: 1.5rem 2.5rem 1.5rem 1.5rem;
    line-height: 1.7rem;
}

#gdpr-text a {
    color: #1a0dab;;
}


.input-field.col.s12 {
    padding-left: 20px;
    padding-right: 48px;
}

.input-field.col label {
    left: 1.35rem;
}

/* label color */
   .input-field label {
     color: #9c9c9c;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #9c9c9c;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* valid color */
   .valid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* invalid color */
   .invalid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #9c9c9c;
   }
   input:not([type]):focus:not([readonly]), 
   input[type=text]:focus:not([readonly]), 
   input[type=password]:focus:not([readonly]), 
   input[type=email]:focus:not([readonly]), 
   input[type=url]:focus:not([readonly]), 
   input[type=time]:focus:not([readonly]), 
   input[type=date]:focus:not([readonly]), 
   input[type=datetime]:focus:not([readonly]), 
   input[type=datetime-local]:focus:not([readonly]), 
   input[type=tel]:focus:not([readonly]), 
   input[type=number]:focus:not([readonly]), 
   input[type=search]:focus:not([readonly]), 
   textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #009ddc;
    box-shadow: 0 1px 0 0 #009ddc;
  }
    input:not([type]):focus:not([readonly])+label, 
    input[type=text]:focus:not([readonly])+label, 
    input[type=password]:focus:not([readonly])+label, 
    input[type=email]:focus:not([readonly])+label, 
    input[type=url]:focus:not([readonly])+label, 
    input[type=time]:focus:not([readonly])+label, 
    input[type=date]:focus:not([readonly])+label, 
    input[type=datetime]:focus:not([readonly])+label, 
    input[type=datetime-local]:focus:not([readonly])+label, 
    input[type=tel]:focus:not([readonly])+label, 
    input[type=number]:focus:not([readonly])+label, 
    input[type=search]:focus:not([readonly])+label, 
    textarea.materialize-textarea:focus:not([readonly])+label {
        color: #009ddc;
    }

.submitbtn {
	line-height: 48px;
	display: block;
	height: 48px;
	width: 100%;
}

#discount-heading3-text {
	font-family: Arial,Arial Unicode MS,Helvetica,DejaVu Sans,Lucida Sans Unicode,sans-serif;
	font-size: X-large;
    letter-spacing: 0.1em;
    margin-left: 2rem;
    padding: 0;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 21px;
}


@media screen and (max-width: 768px) and (orientation : portrait) {
    .form-container {
		position: static;
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
    
	img.z-navicat-header_svgLogo {
    margin-left: 18rem;
    }
    
    .waves-light.btn.submitbtn {
    font-size: 1.4rem;
    width: 24rem;
    margin-left: 1.2rem;
    background-color: #ff6900;
    }
    
    #closepopupbutton {
    right: 165px;
    top: -18px;
    }
    
    
}


@media screen and (max-width: 640px) {
    .form-container {
		position: static;
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
	
	img.z-navicat-header_svgLogo {
    margin-left: 18rem;
    }
    
    .waves-light.btn.submitbtn {
    font-size: 1.3rem;
    width: 25rem;
    margin-left: 1.2rem;
    background-color: #ff6900;
    }
    
    #closepopupbutton {
    right: -10px;
    top: -18px;
    }
    
      
    
}


@media screen and (max-width: 375px) and (orientation : portrait) {
    .form-container {
		position: static;
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
    
	
	img.z-navicat-header_svgLogo {
    margin-left: 18rem;
    }
    
    .waves-light.btn.submitbtn {
    font-size: 1.25rem;
    width: 24rem;
    margin-left: 1.2rem;
    background-color: #ff6900;    
    }
    
    .input-field.col.s12 {
    padding-left: 1.6rem;
    padding-right: 4rem;    
    }
    
    #backgroundimg {
    width: 94%;
    }
    
    #gdpr-text {
    padding-right: 2rem;
    }
    
    #closepopupbutton {
    right: -15px;
    top: -18px;
    }
  
    #discount-heading3-text {
    font-size: 1.6rem;
    top: 12px;
    margin-right: 3rem;
	}
    
   
    
}


@media screen and (max-width: 320px) and (orientation : portrait) {
    .form-container {
		position: static;
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
    
    
    img.z-navicat-header_svgLogo {
    margin-left: 18rem;
    }
    
    .waves-light.btn.submitbtn {
    font-size: 1.3rem;
    width: 23.5rem;
    margin-left: 1.2rem;
    background-color: #ff6900;
    }
    
	#discount-heading3-text {
    font-size: 1.6rem;
	}
    
    #gdpr-text {
    padding-right: 1rem;
    }
	
    #closepopupbutton {
    right: -70px;
    top: -18px;
    }
	
    
   
        
}


